{% extends 'mainhome.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <!-- <h2>Section title</h2> -->
        <h2 class="h5 page-title">Overview</h2>        
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Uptime</h5>
                        <span class="h4 small mb-0">1,869</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Hostname</h5>
                        <span class="h4 small mb-0 Center">server01</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Kernel Version</h5>
                        <span class="h4 small mb-0">1.8</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">OS</h5>
                        <span class="h4 small mb-0">ubuntu</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div> <!-- end section -->
        <!-- info small box -->
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Cpu Count</h5>
                        <span class="h4 small mb-0">1</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Memory Total</h5>
                        <span class="h4 small mb-0">2 GiB</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Total Swap</h5>
                        <span class="h4 small mb-0">1 GiB</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Root mount size</h5>
                        <span class="h4 small mb-0">10 GiB</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div> <!-- end section -->

        <h2 class="h5 page-title">CPU</h2>        
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h1 class="mb-0">15%</h1> 
                        <span class="h4 small mb-0">Cpu usage</span>                                             
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Hostname</h5>
                        <span class="h4 small mb-0 Center">server01</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Kernel Version</h5>
                        <span class="h4 small mb-0">1.8</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">OS</h5>
                        <span class="h4 small mb-0">ubuntu</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div> <!-- end section -->

        <h2 class="h5 page-title">Memory</h2>        
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h1 class="mb-0">43%</h1> 
                        <span class="h4 small mb-0">Memory usage</span>                                             
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Hostname</h5>
                        <span class="h4 small mb-0 Center">server01</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Kernel Version</h5>
                        <span class="h4 small mb-0">1.8</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">OS</h5>
                        <span class="h4 small mb-0">ubuntu</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div> <!-- end section -->    
        
        <h2 class="h5 page-title">Disk</h2>        
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h1 class="mb-0">43%</h1> 
                        <span class="h4 small mb-0">Memory usage</span>                                             
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Hostname</h5>
                        <span class="h4 small mb-0 Center">server01</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">Kernel Version</h5>
                        <span class="h4 small mb-0">1.8</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3 text-center">
                      </div>
                      <div class="col pr-0">
                        <h5 class="mb-0">OS</h5>
                        <span class="h4 small mb-0">ubuntu</span>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div> <!-- end section -->          
      </div>
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->

  {% endblock %}  