 
{% extends 'mainhome.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Add Lighttpd Log Source</h2>
    <form method="post" action="">
        {% csrf_token %}
        <div class="card my-4">
            <div class="card-header">
                <strong>Apache Log Source Form</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    {{ lighttpdform.log_source_name.label_tag }}
                    {{ lighttpdform.log_source_name }}
                    {{ lighttpdform.log_source_name.help_text }}
                </div>
                <div class="form-group">
                    {{ lighttpdform.log_file_path.label_tag }}
                    {{ lighttpdform.log_file_path }}
                    {{ lighttpdform.log_file_path.help_text }}
                </div>

                <div class="form-group">
                    {{ lighttpdform.log_level.label_tag }}
                    {{ lighttpdform.log_level }}
                    {{ lighttpdform.log_level.help_text }}
                </div>
                <div class="form-group">
                    {{ lighttpdform.filter_keyword.label_tag }}
                    {{ lighttpdform.filter_keyword }}
                    {{ lighttpdform.filter_keyword.help_text }}
                </div>

                <div class="form-group">
                    {{ lighttpdform.log_rotation_interval.label_tag }}
                    {{ lighttpdform.log_rotation_interval }}
                    {{ lighttpdform.log_rotation_interval.help_text }}
                </div>
                
                <div class="form-group">
                    {{ lighttpdform.collection_interval.label_tag }}
                    {{ lighttpdform.collection_interval }}
                    {{ lighttpdform.collection_interval.help_text }}
                </div>
                
                <div class="form-group">
                    {{ lighttpdform.retention_policy.label_tag }}
                    {{ lighttpdform.retention_policy }}
                    {{ lighttpdform.retention_policy.help_text }}
                </div>                

                <form method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Next</button>
                </form>
            </div> <!-- .card-body -->
        </div> <!-- .card -->
    </form>
</div>
{% endblock %}
