{% extends 'mainhome.html' %}

{% block content %}
{% load static %}

<style>
  .card-link .card {
      border: 2px solid transparent; /* Default border thickness */
      transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Smooth transition for both shadow and border */
  }

  .card-link .card:hover {
      border-color: #1b68ff; /* Change border color on hover */
      border-width: 5px; /* Make the border thicker on hover */
      box-shadow: 0 0 20px 5px #1b68ff; /* Blue glow effect */
  }
</style>

<div class="container-fluid">
  <div class="row justify-content-center"> <!-- Centering the content using justify-content-center -->
      <div class="col-12">
          <h1 class="h3 page-title">Add a New Connection</h1>            
          <br><br> <br>

          <!-- <h1 class="h3 page-title">System Logs</h1>    
          <hr class="my-2">    
          <p>...</p>  -->

          <div class="row justify-content-center"> <!-- Centering the row of cards -->
            <div class="col-md-3 mb-4">
              <a href="{% url 'windows' %}" class="text-decoration-none">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">                      
                      <div class="circle circle-md" style="display: flex; justify-content: center; align-items: center; overflow: hidden; background: none;">
                        <img src="{% static 'assets/images/windows.svg' %}" alt="folder icon" style="width: 90%; height: auto; max-width: 100%; max-height: 100%;" />
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>Windows</strong><br />
                        <span class="badge badge-light text-white">SYSTEM</span>
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </a>
            </div>

            <div class="col-md-3 mb-4">
              <a href="{% url 'activedirectory' %}" class="text-decoration-none">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">                      
                      <div class="circle circle-md" style="display: flex; justify-content: center; align-items: center; overflow: hidden; background: none;">
                        <img src="{% static 'assets/images/ad.png' %}" alt="folder icon" style="width: 80%; height: auto; max-width: 100%; max-height: 100%;" />
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>Windows Active Directory</strong><br />
                        <span class="badge badge-light text-white">DIRECTORY SERVICE</span>                          
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </a>
            </div>

            <div class="col-md-3 mb-4">
              <a href="{% url 'linux' %}" class="text-decoration-none">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">                      
                      <div class="circle circle-md" style="display: flex; justify-content: center; align-items: center; overflow: hidden; background: none;">
                        <img src="{% static 'assets/images/linux.png' %}" alt="folder icon" style="width: 90%; height: auto; max-width: 100%; max-height: 100%;" />
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>Linux Server</strong><br />
                        <span class="badge badge-light text-white">SYSTEM</span>                        
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </a>
            </div>

          </div> <!-- end section -->
          
          <!-- <h1 class="h3 page-title">Webservers</h1>    
          <hr class="my-2">    
          <p>...</p>  -->

          <div class="row justify-content-center"> <!-- Centering the row of cards -->
            <div class="col-md-3 mb-4">
              <a href="{% url 'apache' %}" class="text-decoration-none">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">                      
                      <div class="circle circle-md" style="display: flex; justify-content: center; align-items: center; overflow: hidden; background: none;">
                        <img src="{% static 'assets/images/apache3.png' %}" alt="folder icon" style="width: 90%; height: auto; max-width: 100%; max-height: 100%;" />
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>Apache HTTP server</strong><br />
                        <span class="badge badge-light text-white">WEBSERVER</span>
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </a>
            </div>

            <div class="col-md-3 mb-4">
              <a href="{% url 'nginx' %}" class="text-decoration-none">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">                      
                      <div class="circle circle-md" style="display: flex; justify-content: center; align-items: center; overflow: hidden; background: none;">
                        <img src="{% static 'assets/images/mysql.svg' %}" alt="folder icon" style="width: 90%; height: auto; max-width: 100%; max-height: 100%;" />
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>MySQL</strong><br />
                        <span class="badge badge-light text-white">DATABASE</span>
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </a>
            </div>

            <div class="col-md-3 mb-4">
              <a href="{% url 'iis' %}" class="text-decoration-none">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">                      
                      <div class="circle circle-md" style="display: flex; justify-content: center; align-items: center; overflow: hidden; background: none;">
                        <img src="{% static 'assets/images/redis2.svg' %}" alt="folder icon" style="width: 90%; height: auto; max-width: 100%; max-height: 100%;" />
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>Redis</strong><br />
                        <span class="badge badge-light text-white">IN-MEMORY</span>
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </a>
            </div>
          </div> <!-- end section -->  
      </div>
  </div> <!-- .row -->
</div> <!-- .container-fluid -->


{% endblock %}
