{% extends 'mainhome.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="page-title">Form advanced elements</h2>
            <p class="text-muted">Demo for form control styles, layout options, and custom components for creating a wide variety of forms.</p>
            <div class="row">

                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <p class="mb-2"><strong>Custom input masks</strong></p>

                            <div class="form-group mb-3">
                                <label for="custom-ipadd">IP address</label>
                                <input class="form-control input-ip" id="custom-ipadd">
                            </div>

                            <!-- Dropdown and Submit Button -->
                            <div class="form-group mb-3">
                                <label for="list-type">List Type</label>
                                <select class="form-control" id="list-type">
                                    <option value="whitelist">Whitelist</option>
                                    <option value="blacklist">Blacklist</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">add</button>

                        </div> <!-- /.card-body -->
                    </div> <!-- /.card -->
                </div> <!-- /.col -->

            </div> <!-- end section -->

        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
{% endblock %}
