{% extends 'mainhome.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-11">
            <h2 class="page-title">Log streaming</h2>
            <h4 class="text-center">Select a database</h4> <br>

            <div class="row justify-content-center">
                <div class="col-md-4 col-xl-2 mb-4">
                    <div class="card shadow border-0" data-database="mysql">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-3 text-center">
                                    <span class="circle circle-sm bg-primary">
                                        <i class="fe fe-16 fe-database text-white mb-0"></i>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="h4 mb-0 text-white">Mysql</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xl-2 mb-4">
                    <div class="card shadow border-0" data-database="postgres">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-3 text-center">
                                    <span class="circle circle-sm bg-primary">
                                        <i class="fe fe-16 fe-database text-white mb-0"></i>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="h4 mb-0 text-white">Postgres</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-xl-2 mb-4">
                    <div class="card shadow border-0" data-database="mongodb">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-3 text-center">
                                    <span class="circle circle-sm bg-primary">
                                        <i class="fe fe-16 fe-database text-white mb-0"></i>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="h4 mb-0 text-white">Mongodb</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        
            </div> 

            <div class="card my-4">
                <div class="card-header">
                    <strong id="selected-database">MYSQL</strong><strong> LOG STREAMING</strong>
                </div>
                <div class="card-body">
                    <form id="example-form" action="#">
                        <div>
                            <h3>Add Log Source</h3>
                            <section>
                                <div id="form-container">
                                    <!-- The dynamic form will be loaded here -->
                                </div>
                            </section>
                            <!-- End of Account Section -->
                            <h3>Info</h3>
                            <section>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="name">First name *</label>
                                        <input id="name" name="name" type="text" class="form-control required">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="surname">Last name *</label>
                                        <input id="surname" name="surname" type="text" class="form-control required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input id="email" name="email" type="text" class="form-control required email">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input id="address" name="address" class="form-control" type="text">
                                </div>
                                <div class="help-text text-muted">(*) Mandatory</div>
                            </section>
                            <!-- End of Profile Section -->

                            <h3>Instructions</h3>
                            <section>
                                <ul class="ml-5">
                                    <li>Foo</li>
                                    <li>Bar</li>
                                    <li>Foobar</li>
                                </ul>
                            </section>
                            <!-- End of Hints Section -->

                            <h3>Test & Finish</h3>
                            <section>
                                <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> 
                                <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                            </section>
                            <!-- End of Finish Section -->
                        </div>
                    </form>
                </div> <!-- .card-body -->
            </div> <!-- .card -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var cards = document.querySelectorAll('.card');
      var selectedDatabase = 'mysql'; // Default selected web server

      function selectCard(database) {
          // Remove the background color from all cards
          cards.forEach(function(c) {
              c.querySelector('.card-body').style.backgroundColor = '';
          });

          // Add background color to the selected card
          var card = document.querySelector('.card[data-database="' + database + '"]');
          card.querySelector('.card-body').style.backgroundColor = '#1b68ff';

          // Update the header text
          document.getElementById('selected-database').textContent = database.toUpperCase();

          // Load the form for the selected web server
          var url = '';
          switch (database) {
              case 'mysql':
                  url = '{% url "mysqllogstream" %}';
                  break;
              case 'postgres':
                  url = '{% url "postgreslogstream" %}';
                  break;
              case 'mongodb':
                  url = '{% url "mongodblogstream" %}';
                  break;

              // Add other cases as needed
          }

          if (url) {
              fetch(url)
                  .then(response => response.text())
                  .then(html => {
                      document.getElementById('form-container').innerHTML = html;
                  })
                  .catch(error => console.error('Error loading the form:', error));
          }
      }

      // Set default selection to Apache on page load
      selectCard(selectedDatabase);

      cards.forEach(function(card) {
          card.addEventListener('click', function(event) {
              // Check if the clicked element is a form element or its child
              if (event.target.closest('form')) {
                  return; // Do nothing if the click is inside a form
              }

              selectedDatabase = this.getAttribute('data-database');
              selectCard(selectedDatabase);
          });
      });
  });
</script>

{% endblock %}
