{% extends 'mainhome.html' %}

{% block content %}

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="page-title">Log Streaming</h2>
              <p class="lead text-muted">Select a database server</p>
              <br>

              <div class="row justify-content-center">

                <div class="col-md-4 col-xl-2 mb-4">                  
                  <a href="{%url 'apacheserverlogstream'%}" class="card-link">
                    <div class="card shadow border-0">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col-3 text-center">
                            <span class="circle circle-sm bg-primary">
                              <i class="fe fe-16 fe-server text-white mb-0"></i>
                            </span>
                          </div>
                          <div class="col">
                            <span class="h4 mb-0 text-white">Mysql</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="col-md-4 col-xl-2 mb-4">                  
                    <a href="{%url 'nginxserverlogstream'%}" class="card-link">
                      <div class="card shadow border-0">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-3 text-center">
                              <span class="circle circle-sm bg-primary">
                                <i class="fe fe-16 fe-server text-white mb-0"></i>
                              </span>
                            </div>
                            <div class="col">
                              <span class="h4 mb-0 text-white">Postgresql</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-4 col-xl-2 mb-4">                  
                    <a href="{%url 'iisserverlogstream'%}" class="card-link">
                      <div class="card shadow border-0">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-3 text-center">
                              <span class="circle circle-sm bg-primary">
                                <i class="fe fe-16 fe-server text-white mb-0"></i>
                              </span>
                            </div>
                            <div class="col">
                              <span class="h4 mb-0 text-white">Mongo</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>                                  
              </div>
              <br>

              <div class="row justify-content-center">
                <div class="col-md-10 mb-4">                    
                  <div class="card shadow">
                    <div class="card-header">
                        <strong>Validation</strong>
                    </div>                     
                    <div class="card-body">
                      <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Add Log Source</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                        </li>                        
                      </ul>
                      <div class="tab-content mb-1" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </div>
                      </div> <br>
                      <div> 
                        <button type="submit" class="btn btn-primary">Next</button>
                    </div>                      
                    </div>

                  </div>
                </div>
              </div> <!-- end section -->

            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        
        {% endblock %}        