{% extends 'mainhome.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="h3 mb-3 page-title">Log Sources</h2>
      <div class="row mb-4 items-align-center">
        <div class="col-md">
          <!-- Tabs for Categories -->
          <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link {% if not os_type %}active{% endif %}" href="{% url 'logsources' %}">
                All
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if os_type == 'windows' %}active{% endif %}" href="{% url 'logsources_os' os_type='windows' %}">
                Windows
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if os_type == 'windowsAD' %}active{% endif %}" href="{% url 'logsources_os' os_type='windowsAD' %}">
                Windows AD
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if os_type == 'linux' %}active{% endif %}" href="{% url 'logsources_os' os_type='linux' %}">
                Linux
              </a>
            </li>
          </ul>

          <!-- Cards for Log Sources -->
          <div class="row">
            {% if log_sources %}
              {% for log_source in log_sources %}
              <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="{% url 'sourceinfo' os_type=os_type log_source_name=log_source.log_source_name hostname=log_source.hostname %}?log_type={{ log_source.log_type }}">
                        {{ log_source.log_source_name }}
                    </a>
                    </h5>
                    <p class="card-text">
                      <small class="text-white">Hostname: <b>{{ log_source.hostname }}</b></small><br>
                      <small class="text-muted">Last Collected: {{ log_source.last_collected }}</small>
                    </p>
                    <div class="d-flex justify-content-end">
                      <div class="dropdown">
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Actions
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">More details</a>
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            {% else %}
              <div class="col-12">
                <p class="text-center text fw-bold" style="font-size: 1.5rem;">No log sources found for the selected category.</p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}