{% extends 'mainhome.html' %}

{% block content %}
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #212529;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 90%;
            max-width: 1200px;
            margin: 20px auto;
        }
        .alert-card {
            background-color: #343a40;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .alert-card .icon {
            font-size: 24px;
            color: #dc3545;
        }
        .alert-card .details {
            flex-grow: 1;
            margin-left: 16px;
        }
        /* .alert-card .details h4 {
            margin: 0;
            font-weight: 500;
            color: #f8f9fa;
        } */
        .alert-card .details p {
            margin: 4px 0;
            color: #eff2f5;
        }
        .alert-card .timestamp {
            font-size: 12px;
            color: #f2f7fc;
        }
        .alert-card .badge {
            margin-top: 8px;
        }
        .filter-section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
        }
        .filter-section input[type="search"] {
            padding: 8px;
            width: 200px;
            border: 1px solid #ced4da;
            border-radius: 4px;
        }
        .filter-section .filter-btn {
            padding: 8px 12px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .view-more {
            padding: 6px 12px;
            background-color: #007bff;
            color: #fff;
            border-radius: 50px;
            text-decoration: none;
            font-size: 14px;
            display: inline-block;
        }
     
    </style>

<div class="container">
    <!-- Filter section -->
    <div class="filter-section">
        <input type="search" placeholder="Search alerts..." />
        <button class="filter-btn"><i class="fas fa-filter"></i> Filter</button>
    </div>
    
    {% for alert in alerts %}
    <div class="alert-card">
        <span class="circle circle-sm bg-danger"><i class="fe fe-alert-triangle fe-16 text-white"></i></span>

        <div class="details">
            <h5>{{ alert.alert_title }}</h5>                        
            <p class="mb-2">{{alert.alert_desc}}</p>
            <div><span class="timestamp">{{ alert.detected_at }}</span></div>
            <!-- <span class="badge badge-pill badge-danger">{{ alert.alert_level }}</span> -->
        </div>

        <div>
          <a href="" class="view-more">View More Details</a>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
