<!-- alert_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert List</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>Alerts</h1>
    <table>
        <thead>
            <tr>
                <th>Event ID</th>
                <th>Description</th>
                <th>Alert Level</th>
                <th>Source Name</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for alert in alerts %}
            <tr>
                <td>{{ alert.event_id }}</td>
                <td>{{ alert.description }}</td>
                <td>{{ alert.alert_level }}</td>
                <td>{{ alert.source_name }}</td>
                <td>{{ alert.timestamp }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
