 
{% extends 'mainhome.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Add Open Dir Log Source</h2>
    <form method="post" action="">
        {% csrf_token %}
        <div class="card my-4">
            <div class="card-header">
                <strong>Active Directory Log Source Form</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    {{ opendirform.log_source_name.label_tag }}
                    {{ opendirform.log_source_name }}
                    {{ opendirform.log_source_name.help_text }}
                </div>
                <div class="form-group">
                    {{ opendirform.domain_name.label_tag }}
                    {{ opendirform.domain_name }}
                    {{ opendirform.domain_name.help_text }}
                </div>

                <div class="form-group">
                    {{ opendirform.collection_interval.label_tag }}
                    {{ opendirform.collection_interval }}
                    {{ opendirform.collection_interval.help_text }}
                </div>
                <div class="form-group">
                    {{ opendirform.retention_policy.label_tag }}
                    {{ opendirform.retention_policy }}
                    {{ opendirform.retention_policy.help_text }}
                </div>

                <form method="post" action="{%url 'logsources'%}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Next</button>
                </form>
            </div> <!-- .card-body -->
        </div> <!-- .card -->
    </form>
</div>
{% endblock %}
