{%extends 'mainhome.html'%}

{%block content%}

<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row">
          <!-- Striped rows -->
          <div class="col-md-12 my-4">
            <h2 class="h4 mb-1">Log Streams</h2>
            <p class="mb-4"> </p>
            <div class="card shadow">
              <div class="card-body">
                <div class="toolbar row mb-3">
                  <div class="col">
                    <form class="form-inline">
                      <div class="form-row">
                        <div class="form-group col-auto">
                          <label for="search" class="sr-only">Search</label>
                          <input type="text" class="form-control" id="search" value="" placeholder="Search">
                        </div>
                        <div class="form-group col-auto ml-3">
                          <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref">Status</label>
                          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                            <option selected>Choose...</option>
                            <option value="1">Processing</option>
                            <option value="2">Success</option>
                            <option value="3">Pending</option>
                            <option value="3">Hold</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col ml-auto">
                    <div class="dropdown float-right">

                      <form action="winkalimac_form_wizard.html">

                      <button class="btn btn-primary float-right ml-3" type="submit">Add Log Source +</button>
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="actionMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action </button>
                        <div class="dropdown-menu" aria-labelledby="actionMenuButton">
                        <a class="dropdown-item" href="#">Export</a>
                        <a class="dropdown-item" href="#">Delete</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                      </form>   

                    </div>
                  </div>
                </div>
                <!-- table -->
                <table class="table table-bordered">

                  <thead>
                    <tr role="row">
                      <th>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input">
                          <label class="custom-control-label"></label>
                        </div>
                      </th>
                      <th>Stream ID</th>
                      <th>Source Name</th>
                      <th>Log Type</th>
                      <th>Hostname/IP</th>
                      <th>Collection Method</th>
                      <th>Retention Period</th>
                      <th>Status</th>
                      <th>Log Format</th>
                      <th>Action</th>
                      <!-- <th>Log Size</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="4574">
                          <label class="custom-control-label" for="4574"></label>
                        </div>
                      </td>
                      <td>1</td>
                      <td>Server(1)</td>
                      <td>Apache</td>
                      <td>192.168.100.23</td>
                      <td>API </td>
                      <td>Access</td>
                      <td><span class="badge badge-warning">Connecting</span></td>
                      <td></td>
                      <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Remove</a>
                          <a class="dropdown-item" href="#">Assign</a>
                          <a class="dropdown-item" href="#">More Details</a>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="2397">
                          <label class="custom-control-label" for="2397"></label>
                        </div>
                      </td>
                      <td>2</td>
                      <td>ServerTest(2)</td>
                      <td>Nginx</td>
                      <td>10.12.10.2</td>
                      <td>Syslog</td>
                      <td>Auth</td>
                      <td><span class="badge badge-success">Active</span></td>
                      <td>5-Min</td>
                      <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Remove</a>
                          <a class="dropdown-item" href="#">Assign</a>
                          <a class="dropdown-item" href="#">More Details</a>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="4028">
                          <label class="custom-control-label" for="4028"></label>
                        </div>
                      </td>
                      <td>3</td>
                      <td>TestSvr</td>
                      <td>IIS</td>
                      <td>10.10.12.13</td>
                      <td>Remote Reading</td>
                      <td>Error</td>
                      <td><span class="badge badge-danger">Error</span></td>
                      <td></td>
                      <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Remove</a>
                          <a class="dropdown-item" href="#">Assign</a>
                          <a class="dropdown-item" href="#">More Details</a>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="3782">
                          <label class="custom-control-label" for="3782"></label>
                        </div>
                      </td>
                      <td>4</td>
                      <td>Server(3)</td>
                      <td>Apache</td>
                      <td>10.12.12.10</td>
                      <td>Local Reading</td>
                      <td>Access</td>
                      <td><span class="badge badge-primary">Inactive</span></td>
                      <td>30-Min</td>
                      <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Remove</a>
                          <a class="dropdown-item" href="#">Assign</a>
                          <a class="dropdown-item" href="#">More Details</a>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>
                <nav aria-label="Table Paging" class="mb-0 text-muted">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div> <!-- simple table -->
        </div> <!-- end section -->

      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->
{%endblock%}