
    <form method="post" action="">
        {% csrf_token %}
                <div class="form-group">
                    {{ mongodbform.log_source_name.label_tag }}
                    {{ mongodbform.log_source_name }}
                    {{ mongodbform.log_source_name.help_text }}
                </div>
                <div class="form-group">
                    {{ mongodbform.log_file_path.label_tag }}
                    {{ mongodbform.log_file_path }}
                    {{ mongodbform.log_file_path.help_text }}
                </div>

                <div class="form-group">
                    {{ mongodbform.log_level.label_tag }}
                    {{ mongodbform.log_level }}
                    {{ mongodbform.log_level.help_text }}
                </div>
                <div class="form-group">
                    {{ mongodbform.filter_keyword.label_tag }}
                    {{ mongodbform.filter_keyword }}
                    {{ mongodbform.filter_keyword.help_text }}
                </div>

                <div class="form-group">
                    {{ mongodbform.log_rotation_interval.label_tag }}
                    {{ mongodbform.log_rotation_interval }}
                    {{ mongodbform.log_rotation_interval.help_text }}
                </div>
                
                <div class="form-group">
                    {{ mongodbform.collection_interval.label_tag }}
                    {{ mongodbform.collection_interval }}
                    {{ mongodbform.collection_interval.help_text }}
                </div>
                
                <div class="form-group">
                    {{ mongodbform.retention_policy.label_tag }}
                    {{ mongodbform.retention_policy }}
                    {{ mongodbform.retention_policy.help_text }}
                </div>                

                <!-- <form method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Next</button>
                </form> -->
    </form>

