{% extends 'mainhome.html' %}

{% block content %}
<style>
    .card {
        border: 2px solid transparent; /* Default border thickness */
        transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Smooth transition for both shadow and border */
    }

    .card:hover {
        border-color: #1b68ff; /* Change border color on hover */
        border-width: 4px; /* Make the border thicker on hover */
        box-shadow: 0 0 20px 5px 1b68ff; /* Blue glow effect */
    }

    .btn-primary {
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #0056b3; /* Darker blue for hover */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for the button */
    }

    .centered-card {
        display: flex;
        justify-content: center; /* Center horizontally */
        margin: 0 auto; /* Center the card within the column */
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="h3 page-title">Linux Log and Data Collection</h2>
            <p class="">Select your method of collecting system logs</p>
            
            <!-- Widget card row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="py-5 text-center">
                                <div class="p-3"><span class="fe fe-24 fe-activity"></span></div>
                                <h2 class="mb-1">Host System Log Streaming</h2> <br>
                                <span class="">Collect Active Directory Authentication Logs: 
                                    Monitor and collect logs related to user logins, authentications, and 
                                    authorizations within the domain.</span>
                            </div>
                            <div class="row justify-content-center mb-1">
                                <div class="col-auto">
                                    <a href="{% url 'stream_linux_host_logs' %}" class="btn btn-primary">Get Started</a>
                                </div>
                            </div>
                        </div> <!-- .card-body -->
                    </div> <!-- .card -->
                </div>

                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="py-5 text-center">
                                <div class="p-3"><span class="fe fe-24 fe-file-text"></span></div>
                                <h2 class="mb-1">Log File Streaming</h2> <br>
                                <span class="">Collect Active Directory Authentication Logs: 
                                    Monitor and collect logs related to user logins, authentications, and 
                                    authorizations within the domain.</span>
                            </div>
                            <div class="row justify-content-center mb-1">
                                <div class="col-auto">
                                    <a href="{% url 'logfilestreams' %}" class="btn btn-primary">Get Started</a>
                                </div>
                            </div>
                        </div> <!-- .card-body -->
                    </div> <!-- .card -->
                </div>

                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="py-5 text-center">
                                <div class="p-3">
                                    <span class="fe fe-24 fe-trending-up"></span>
                                    <span class="fe fe-24 fe-trending-down"></span>
                                </div>
                                <h2 class="mb-1">Performance Data Collection</h2> <br>
                                <span class="">Collect Active Directory Authentication Logs: 
                                    Monitor and collect logs related to user logins, authentications, and 
                                    authorizations within the domain.</span>
                            </div>
                            <div class="row justify-content-center mb-1">
                                <div class="col-auto">
                                    <a href="{% url 'performancelogs' %}" class="btn btn-primary">Get Started</a>
                                </div>
                            </div>
                        </div> <!-- .card-body -->
                    </div> <!-- .card -->
                </div>

                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="py-5 text-center">
                                <div class="p-3"><span class="fe fe-24 fe-square"></span></div>
                                <h2 class="mb-1">LDAP Log Collection</h2> <br>
                                <span class="">Collect Active Directory Authentication Logs: 
                                    Monitor and collect logs related to user logins, authentications, and 
                                    authorizations within the domain.</span>
                            </div>
                            <div class="row justify-content-center mb-1">
                                <div class="col-auto">
                                    <a href="{% url 'activedirectoryform' %}" class="btn btn-primary">Get Started</a>
                                </div>
                            </div>
                        </div> <!-- .card-body -->
                    </div> <!-- .card -->
                </div>
                      

            </div> <!-- .row -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->

{% endblock %}
