{% extends 'mainhome.html' %}

{% block content %}
<div class="container-fluid"> 
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <h2 class="page-title">Add Linux Log Files Source</h2>
            <p>Configure the log source settings for streaming log files from a Linux client.</p>
            
            <a href="{% url 'logsources' %}" class="btn mb-2 btn-info">View Sources</a>
            
            <div class="card my-4">
                <div class="card-header">
                    <strong>Add Log Source</strong>
                </div> 
                <div class="card-body">
                    <form method="post" action="{% url 'linuxlogfilestreams' %}">
                        {% csrf_token %}
                        <div>
                            <h3>Log Source Info</h3>
                            <section>
                                <div class="form-group">
                                    {{ logfileform.log_source_name.label_tag }}(*)
                                    {{ logfileform.log_source_name }}
                                </div>
                                <div class="form-group">
                                    {{ logfileform.log_file_path.label_tag }}(*)
                                    {{ logfileform.log_file_path }}
                                </div>
                                <div class="form-group">
                                    {{ logfileform.log_file_type.label_tag }}(*)
                                    {{ logfileform.log_file_type }}
                                </div>
                                <h5>Select log types to collect:</h5>
                                <div class="form-group">
                                    {% for checkbox in logfileform.log_type %}
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" 
                                                id="customCheck{{ forloop.counter }}" 
                                                name="log_type" 
                                                value="{{ checkbox.choice_value }}">
                                            <label class="custom-control-label" for="customCheck{{ forloop.counter }}">
                                                {{ checkbox.choice_label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ logfileform.collection_interval.label_tag }}(*)
                                    {{ logfileform.collection_interval }}
                                </div>
                                <div class="form-group">
                                    {{ logfileform.retention_policy.label_tag }}(*)
                                    {{ logfileform.retention_policy }}
                                </div>
                                <div class="form-group">
                                    {{ logfileform.file_size_limit.label_tag }}(*)
                                    {{ logfileform.file_size_limit }}
                                </div>
                                <div class="form-group">
                                    {{ logfileform.rotation_policy.label_tag }}(*)
                                    {{ logfileform.rotation_policy }}
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary">Next</button>
                                </div>
                            </section>
                            <!-- <div class="help-text text-muted">(*) Mandatory</div> -->
                        </div>
                    </form> 
                </div> <!-- .card-body -->
            </div> <!-- .card -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
{% endblock %}
