{% extends 'mainhome.html' %}

{% block content %}

<style>
  .card-link .card {
      border: 2px solid transparent; /* Default border thickness */
      transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Smooth transition for both shadow and border */
  }

  .card-link .card:hover {
      border-color: #1b68ff; /* Change border color on hover */
      border-width: 5px; /* Make the border thicker on hover */
      box-shadow: 0 0 20px 5px #1b68ff; /* Blue glow effect */
  }
</style>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <!-- <h2>Section title</h2> -->
            <h1 class="h3 page-title">Add new connection</h1>
            <p class="">Browse and create new connections</p>
            <br><br>
            <!-- info small box -->

            <h1 class="h3 page-title">System Logs</h1>    
            <hr class="my-2">    
            <p>Use integrations to collect data in Grafana Cloud to monitor the health and performance 
              of your infrastructure services.</p>             
            <div class="row">
                <div class="col-md-4 mb-4">
                    <a href="{% url 'windows_collection_options' %}" class="card-link">
                      <div class="card shadow">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col">
                              <span class="h2 mb-0">WINDOWS</span>
                              <p class="small text-muted mb-0">*64,*86</p>
                              <span class="badge badge-pill badge-success">10,11</span>
                            </div>
                            <div class="col-auto">
                              <img src="/static/assets/images/windows.svg" alt="Clipboard Icon" class="fe fe-32 fe-clipboard text-muted mb-0">
                            </div>
                          </div>                   
                        </div>
                      </div>
                    </a>
                </div>

                <div class="col-md-4 mb-4">
                    <a href="{%url 'linux_collection_options' %}" class="card-link">
                      <div class="card shadow">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col">
                              <span class="h2 mb-0">LINUX</span>
                              <p class="small text-muted mb-0">version</p>
                              <span class="badge badge-pill badge-success">16</span>
                            </div>
                            <div class="col-auto">
                              <img src="/static/assets/images/linux.png" alt="Clipboard Icon" class="fe fe-32 fe-clipboard text-muted mb-0">
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                </div>

                <div class="col-md-4 mb-4"> 
                    <a href="{%url 'macos_collection_options'%}" class="card-link">
                      <div class="card shadow">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col">
                              <span class="h2 mb-0">MAC OS</span>
                              <p class="small text-muted mb-0">version</p>
                              <span class="badge badge-pill badge-warning">15</span>
                            </div>
                            <div class="col-auto">
                              <img src="/static/assets/images/macos.svg" alt="Clipboard Icon" class="fe fe-32 fe-clipboard text-muted mb-0">
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                </div>

                <div class="col-md-4 mb-4">
                  <a href="{%url 'linux_collection_options' %}" class="card-link">
                    <div class="card shadow">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col">
                            <span class="h2 mb-0">Windows Active Directory</span>
                            <p class="small text-muted mb-0">version</p>
                            <!-- <span class="badge badge-pill badge-success">16</span> -->
                          </div>
                          <div class="col-auto">
                            <img src="/static/assets/images/linux.png" alt="Clipboard Icon" class="fe fe-32 fe-clipboard text-muted mb-0">
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
              </div>
            </div> <!-- end section -->
            <br>

            <h1 class="h3 page-title">Webservers</h1>    
            <hr class="my-2">    
            <p>Use integrations to collect data in Grafana Cloud to monitor the health and performance 
              of your infrastructure services.</p>    

            <div class="row">
              <div class="col-md-4 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">
                      <div class="circle circle-md bg-secondary">
                        <span class="fe fe-folder fe-16 text-white"></span>
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>Apache HTTP server</strong><br />
                        <span class="badge badge-light text-muted">3 files</span>
                        <i class="fe fe-users fe-12 ml-2 text-muted"></i>
                      </div>
                      <div class="file-action">
                        <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu m-2">
                          <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                        </div>
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </div>

              <div class="col-md-4 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">
                      <div class="circle circle-md bg-secondary">
                        <span class="fe fe-folder fe-16 text-white"></span>
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>Nginx</strong><br />
                        <span class="badge badge-light text-muted">3 files</span>
                        <i class="fe fe-users fe-12 ml-2 text-muted"></i>
                      </div>
                      <div class="file-action">
                        <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu m-2">
                          <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                        </div>
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </div>

              <div class="col-md-4 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">
                      <div class="circle circle-md bg-secondary">
                        <span class="fe fe-folder fe-16 text-white"></span>
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>IIS</strong><br />
                        <span class="badge badge-light text-muted">3 files</span>
                        <i class="fe fe-users fe-12 ml-2 text-muted"></i>
                      </div>
                      <div class="file-action">
                        <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu m-2">
                          <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                        </div>
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </div>
            </div> <!-- end section -->  
            

            <h1 class="h3 page-title">Databases</h1>    
            <hr class="my-2">    
            <p>Use integrations to collect data in Grafana Cloud to monitor the health and performance 
              of your infrastructure services.</p>             
            
            <div class="row">
              <div class="col-md-4 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">
                      <div class="circle circle-md bg-secondary">
                        <span class="fe fe-folder fe-16 text-white"></span>
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>MySQL</strong><br />
                        <span class="badge badge-light text-muted">3 files</span>
                        <i class="fe fe-users fe-12 ml-2 text-muted"></i>
                      </div>
                      <div class="file-action">
                        <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu m-2">
                          <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                        </div>
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </div>

              <div class="col-md-4 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">
                      <div class="circle circle-md bg-secondary">
                        <span class="fe fe-folder fe-16 text-white"></span>
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>PostgreSQL</strong><br />
                        <span class="badge badge-light text-muted">3 files</span>
                        <i class="fe fe-users fe-12 ml-2 text-muted"></i>
                      </div>
                      <div class="file-action">
                        <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu m-2">
                          <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                        </div>
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </div>

              <div class="col-md-4 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-body file-list">
                    <div class="d-flex align-items-center">
                      <div class="circle circle-md bg-secondary">
                        <span class="fe fe-folder fe-16 text-white"></span>
                      </div>
                      <div class="flex-fill ml-4 fname">
                        <strong>MongoDB</strong><br />
                        <span class="badge badge-light text-muted">3 files</span>
                        <i class="fe fe-users fe-12 ml-2 text-muted"></i>
                      </div>
                      <div class="file-action">
                        <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu m-2">
                          <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                          <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                        </div>
                      </div>
                    </div>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </div>
            </div> <!-- end section -->  
            <br>          


        </div>
    </div> <!-- .row -->
</div> <!-- .container-fluid -->

{% endblock %}
