{%extends 'mainhome.html'%}
{%block content%}
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="page-title">Add User</h2> <br>
              <!-- <p class="text-muted">Provide valuable, actionable feedback to your users with HTML5 form validation</p> -->
              <div class="row justify-content-center">
                <div class="col-md-9">
                  <div class="card shadow mb-4">
                    <div class="card-header">
                      <strong class="card-title">Add user form</strong>
                    </div>
                    <div class="card-body">
                      <form class="needs-validation" novalidate>
                        <div class="form-row">
                          <div class="col-md-8 mb-3">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                            <div class="invalid-feedback"> Please use a valid email </div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="validationCustomUsername">Username</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                              </div>
                              <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                              <div class="invalid-feedback"> Please choose a username. </div>
                            </div>
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="validationCustom01">First name</label>
                            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                            <div class="valid-feedback"> Looks good! </div>
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Last name</label>
                            <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                            <div class="valid-feedback"> Looks good! </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-6 mb-3">
                            <label for="validationCustom03">City</label>
                            <input type="text" class="form-control" id="validationCustom03" required>
                            <div class="invalid-feedback"> Please provide a valid city. </div>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label for="validationCustom04">State</label>
                            <select class="custom-select" id="validationCustom04" required>
                              <option selected disabled value="">Choose...</option>
                              <option>...</option>
                            </select>
                            <div class="invalid-feedback"> Please select a valid state. </div>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label for="validationCustom05">Zip</label>
                            <input type="text" class="form-control" id="validationCustom05" required>
                            <div class="invalid-feedback"> Please provide a valid zip. </div>
                          </div>
                        </div>

                        <h5>Select a Role</h5>

                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="roleAdmin" name="radio-stacked" required>
                            <label class="custom-control-label" for="roleAdmin">Administrator</label>
                        </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="roleSuperuser" name="radio-stacked" required>
                            <label class="custom-control-label" for="roleSuperuser">Superuser</label>
                        </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="roleAnalyst" name="radio-stacked" required>
                            <label class="custom-control-label" for="roleAnalyst">Log Analyst</label>
                        </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="roleOperator" name="radio-stacked" required>
                            <label class="custom-control-label" for="roleOperator">Operator</label>
                        </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="roleViewer" name="radio-stacked" required>
                            <label class="custom-control-label" for="roleViewer">Viewer</label>
                        </div> <br>
                                                                                               
                
                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck"> Agree to terms and conditions </label>
                            <div class="invalid-feedback"> You must agree before submitting. </div>
                          </div>
                        </div> <br>
                        <button class="btn btn-primary" type="submit">Submit form</button>
                      </form>
                    </div> <!-- /.card-body -->
                  </div> <!-- /.card -->
                </div> <!-- /.col -->


              </div> <!-- end section -->
            </div> <!-- /.col-12 col-lg-10 col-xl-10 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
{%endblock%}        