{% extends 'mainhome.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="page-title">Edit User</h2> <br>
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <strong class="card-title">Edit user form</strong>
                            </div>
                            <div class="card-body">
                                <form class="needs-validation" method="post" novalidate>
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-8 mb-3">
                                            <label for="{{ form.email.id_for_label }}">Email address</label>
                                            {{ form.email }}
                                            <div class="invalid-feedback"> Please use a valid email </div>
                                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="{{ form.username.id_for_label }}">Username</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                </div>
                                                {{ form.username }}
                                                <div class="invalid-feedback"> Please choose a username. </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="{{ form.first_name.id_for_label }}">First name</label>
                                            {{ form.first_name }}
                                            <div class="valid-feedback"> Looks good! </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="{{ form.last_name.id_for_label }}">Last name</label>
                                            {{ form.last_name }}
                                            <div class="valid-feedback"> Looks good! </div>
                                        </div>
                                    </div>

                                    <h5>Select a Role</h5>
                                    <div class="form-group">
                                        {{ form.role }}
                                    </div>
                                    
                                    <!-- <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label for="{{ form.password.id_for_label }}">Password</label>
                                            {{ form.password }}
                                            <div class="invalid-feedback"> Please enter a valid password </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="{{ form.confirm_password.id_for_label }}">Confirm Password</label>
                                            {{ form.confirm_password }}
                                            <div class="invalid-feedback"> Please confirm your password </div>
                                        </div>
                                    </div> -->

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                            <label class="form-check-label" for="invalidCheck"> Agree to terms and conditions </label>
                                            <div class="invalid-feedback"> You must agree before submitting. </div>
                                        </div>
                                    </div> <br>
                                    
                                    <button class="btn btn-primary" type="submit">Submit form</button>
                                </form>
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->
                    </div> <!-- /.col -->
                </div> <!-- end section -->
            </div> <!-- /.col-12 col-lg-10 col-xl-10 -->
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
{% endblock %}
