{%extends 'mainhome.html'%}

{%block content%}

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row align-items-center my-4">
                <div class="col">
                  <h2 class="h3 mb-0 page-title">User Accounts</h2>
                </div>
                <div class="col-auto">      
                  <a href="{%url 'add_user'%}"><button type="button" class="btn btn-primary"><span class="fe fe-filter fe-12 mr-2"></span>Add</button></a>
                </div>
              </div>
              <div class="row">

                {% for user in users %}
                <div class="col-md-3">
                  <div class="card shadow mb-4">
                    <div class="card-body text-center">
                      <div class="avatar avatar-lg mt-4">
                        <a href="">
                          <img src="/static/assets/avatars/face-4.jpg" alt="..." class="avatar-img rounded-circle">
                        </a>
                      </div>
                      <div class="card-text my-2">
                        <strong class="card-title my-0">{{user.first_name}} {{user.last_name}}</strong>
                        <p class="small text-muted mb-0">{{user.department}}</p>
                        <p class="small"><span class="badge badge-light text-muted">{{user.role}}</span></p>
                      </div>
                    </div> <!-- ./card-text -->
                    <div class="card-footer">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                          <small>
                            <span class="dot dot-lg bg-success mr-1"></span> Online </small>
                        </div>
                        <div class="col-auto">
                          <div class="file-action">
                            <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu m-2">
                              <a class="dropdown-item" href="#"><i class="fe fe-meh fe-12 mr-4"></i>Profile</a>
                              <a class="dropdown-item" href="{%url 'edit_user' user.id %}"><i class="fe fe-mail fe-12 mr-4"></i>Edit User Details</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-message-circle fe-12 mr-4"></i>Permissions</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>View activity logs</a>
                              <!-- add export/share and filer capabilities in the line above -->
                              <a class="dropdown-item" href="{%url 'delete_user' user.id%}"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.card-footer -->
                  </div>
                </div> <!-- .col -->
                {%endfor%}

                <div class="col-md-9">
                </div> <!-- .col -->
              </div> <!-- .row -->
              <nav aria-label="Table Paging" class="my-3">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        {%endblock%} 

        