{% extends 'mainhome.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <h2 class="page-title">Windows System Log Source</h2>
            <p>Adding a Windows system source for log collection and ingestion.</p>

            <a href="{% url 'system_windows_logs' %}" class="btn mb-2 btn-info">View Sources</a>

            <div class="card my-4">
                <div class="card-header">
                    <strong>Validation</strong>
                </div>
                <div class="card-body">
                  <form method="post" action="">
                    {% csrf_token %}
                    <div>
                        <h3>Source Info</h3>
                        <section>
                            <div class="form-group">
                                {{ log_source_form.as_p }}
                                <button type="submit" class="btn btn-primary">Next</button>
                            </div>  
                            <div class="help-text text-muted">(*) Mandatory</div>
                        </section>
                    </div>
                </form>
                
                </div> <!-- .card-body -->
            </div> <!-- .card -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
{% endblock %}
