{% extends 'mainhome.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Upload Log File</h2>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="card my-4">
            <div class="card-header">
                <strong>Log File Upload Form</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    {{ webserverfileuploadform.source_name.label_tag }}
                    {{ webserverfileuploadform.source_name }}
                    {{ webserverfileuploadform.source_name.help_text }}
                </div>
                <div class="form-group">
                    {{ webserverfileuploadform.file_type.label_tag }}
                    {{ webserverfileuploadform.file_type }}
                    {{ webserverfileuploadform.file_type.help_text }}
                </div>
                <div class="form-group">
                    {{ webserverfileuploadform.log_file_description.label_tag }}
                    {{ webserverfileuploadform.log_file_description }}
                    {{ webserverfileuploadform.log_file_description.help_text }}
                </div>
            </div> <!-- .card-body -->
        </div> <!-- .card -->
    </form>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="page-title">Log Files Uploads</h2>
            <p class="lead text-muted">Select your log files and uplaod them for analysis</p>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <strong>Dropzone</strong>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'upload_file' %}" class="dropzone bg-light rounded-lg" id="tinydash-dropzone">
                                {% csrf_token %}
                                <div class="dz-message needsclick">
                                    <div class="circle circle-lg bg-primary">
                                        <i class="fe fe-upload fe-24 text-white"></i>
                                    </div>
                                    <h5 class="text-muted mt-4">Drop files here or click to upload</h5>
                                </div>
                            </form>
                            <!-- Preview -->
                            <!-- <div class="dropzone-previews mt-3" id="file-previews"></div> -->
                            <!-- file preview template -->
                            <div class="d-none" id="uploadPreviewTemplate">
                                <div class="card mt-1 mb-0 shadow-none border">
                                    <div class="p-2">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                                            </div>
                                            <div class="col pl-0">
                                                <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                                                <p class="mb-0" data-dz-size></p>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Button -->
                                                <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                                    <i class="dripicons-cross"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .card-body -->
                    </div> <!-- .card -->
                    <button type="submit" class="btn btn-primary mt-4">Next</button>
                </div> <!-- .col -->
            </div> <!-- .row -->
        </div>
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
{% endblock %}
