{% extends 'mainhome.html' %}

{% block content %}

<style>
  .card-link .card {
      border: 2px solid transparent; /* Default border thickness */
      transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Smooth transition for both shadow and border */
  }

  .card-link .card:hover {
      border-color: #1b68ff; /* Change border color on hover */
      border-width: 5px; /* Make the border thicker on hover */
      box-shadow: 0 0 20px 5px #1b68ff; /* Blue glow effect */
  }
</style>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <!-- <h2>Section title</h2> -->
            <h1 class="h3 page-title">Select Your networking system</h1>
            <p class="text-muted">This primitive is meant to make it easy to display both user-centric or activity-centric actions in your app. Sometimes it makes sense to even blend both in a single timeline, which works perfectly.</p>
            <br>
            <!-- NoSQL Databases -->
            <h2 class="h4">Network systems</h2> <br>
            <div class="row justify-content-center">
            <h1 class="justify-content-center">STILL THINKING ABOUT THIS CATEGORY</h1>
            </div>
        </div>
    </div> <!-- .row -->
</div> <!-- .container-fluid -->

{% endblock %}
